.product {
    display: flex;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
}
.product img {
    margin-right: 10px;
}
.prductName {
    color: cornflowerblue;
    line-height: 1.4;
    margin: 0;
}
.seller {
    margin: 0;
    margin-bottom: 10px;
}
h4,h6 {
    margin: 0;
    margin-bottom: 10px;
}
.product-btn {
    color: #222;
    background: #f0c14b;
    border: 0;
    font-size: 15px;
    padding: 5px 15px;
    border-radius:5px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid rgb(50, 78, 53);
}
.product-btn:focus {
    outline: 0;
}
.product-btn  .icon {
    margin-right: 5px;
}